<body id="dataTheme" [attr.data-theme]='sidebarService.theme | async'>
<div class="body-loader" *ngIf="loaderActive">
  <div class="loader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle
              class="path"
              cx="50"
              cy="50"
              r="20"
              fill="none"
              stroke-width="2"
              stroke-miterlimit="10"
      />
    </svg>
    <div class="spinner-border" style="height: 5rem; width: 5rem; color: #4E5559" role="status">
      <!--      <span class="sr-only">Loading...</span>-->
    </div>
  </div>

</div>
<div class="wrapper">
  <main class="page page-dashboard">
    <div class="page-dashboard__row">
      <axioma-sidebar></axioma-sidebar>
      <div class="page-dashboard__content dashboard-content">
        <axioma-header></axioma-header>
        <div class="main_content">
          <router-outlet></router-outlet>
        </div>
<!--        <axioma-footer></axioma-footer>-->
      </div>
    </div>
  </main>

</div>

</body>
