# Project exclude paths
/backend/target/
/frontend/.angular/
/frontend/node_modules/
/frontend/dist/axioma-frontend/assets/fonts/FontAwesome.otf
/frontend/dist/axioma-frontend/assets/fonts/fontawesome-webfont.eot
/frontend/dist/axioma-frontend/assets/fonts/fontawesome-webfont.svg
/frontend/dist/axioma-frontend/assets/fonts/fontawesome-webfont.ttf
/frontend/dist/axioma-frontend/assets/fonts/fontawesome-webfont.woff
/frontend/dist/axioma-frontend/assets/fonts/fontawesome-webfont.woff2
/frontend/dist/axioma-frontend/assets/img/dashboard/arr.svg
/frontend/dist/axioma-frontend/assets/img/dashboard/arr-b.svg
/frontend/dist/axioma-frontend/assets/img/dashboard/clock.svg
/frontend/dist/axioma-frontend/assets/img/dashboard/configuration.svg
/frontend/dist/axioma-frontend/assets/img/dashboard/configuration-l.svg
/frontend/dist/axioma-frontend/assets/img/dashboard/d-arr.svg
/frontend/dist/axioma-frontend/assets/img/dashboard/high.svg
/frontend/dist/axioma-frontend/assets/img/dashboard/low.svg
/frontend/dist/axioma-frontend/assets/img/dashboard/plus.svg
/frontend/dist/axioma-frontend/assets/img/dashboard/reply.svg
/frontend/dist/axioma-frontend/assets/img/dashboard/search.svg
/frontend/dist/axioma-frontend/assets/img/dashboard/search-l.svg
/frontend/dist/axioma-frontend/assets/img/dashboard/share-w.svg
/frontend/dist/axioma-frontend/assets/img/dashboard/show-b.svg
/frontend/dist/axioma-frontend/assets/img/dashboard/sort.svg
/frontend/dist/axioma-frontend/assets/img/dashboard/upDown.svg
/frontend/dist/axioma-frontend/assets/img/log/check.svg
/frontend/dist/axioma-frontend/assets/img/log/eye.svg
/frontend/dist/axioma-frontend/assets/img/log/lock.svg
/frontend/dist/axioma-frontend/assets/img/log/logo.svg
/frontend/dist/axioma-frontend/assets/img/log/show.svg
/frontend/dist/axioma-frontend/assets/img/log/user.svg
/frontend/dist/axioma-frontend/assets/img/log/user-arr.svg
/frontend/dist/axioma-frontend/3rdpartylicenses.txt
/frontend/dist/axioma-frontend/971.eddcecab1562e7b1.js
/frontend/dist/axioma-frontend/arr.bf6cef3f12bde5c5.svg
/frontend/dist/axioma-frontend/check.e599d67d11663e02.svg
/frontend/dist/axioma-frontend/clock.fee654419344307a.svg
/frontend/dist/axioma-frontend/configuration.2523ff90b2a10def.svg
/frontend/dist/axioma-frontend/configuration-l.37868b5b0760bd5b.svg
/frontend/dist/axioma-frontend/d-arr.c4d3e72a5b7c95a4.svg
/frontend/dist/axioma-frontend/eye.7a8699530b0c6e26.svg
/frontend/dist/axioma-frontend/favicon.ico
/frontend/dist/axioma-frontend/high.0c258d44db7e57b9.svg
/frontend/dist/axioma-frontend/index.html
/frontend/dist/axioma-frontend/lock.0443791d35a962a8.svg
/frontend/dist/axioma-frontend/low.f3dacaec6da4e1b7.svg
/frontend/dist/axioma-frontend/main.9c789a01d12bb653.js
/frontend/dist/axioma-frontend/plus.da36c92262180520.svg
/frontend/dist/axioma-frontend/polyfills.7842013335253bae.js
/frontend/dist/axioma-frontend/reply.494299695f7c6450.svg
/frontend/dist/axioma-frontend/runtime.93c487d8cfbd7aec.js
/frontend/dist/axioma-frontend/scripts.931e766357099ae2.js
/frontend/dist/axioma-frontend/search.ac41bf34760a55ea.svg
/frontend/dist/axioma-frontend/search-l.a0e5374d1081b9fc.svg
/frontend/dist/axioma-frontend/share-w.a1e3c0990ddd5def.svg
/frontend/dist/axioma-frontend/show.12713760901a6857.svg
/frontend/dist/axioma-frontend/show-b.04fd2971036f8a92.svg
/frontend/dist/axioma-frontend/styles.f9f8bfbf79d3e9ef.css
/frontend/dist/axioma-frontend/user.8f5013a212b39f0e.svg
/frontend/dist/axioma-frontend/user-arr.0421bcdbe6ee4c09.svg
/frontend/dist/axioma-frontend/webdatarocks-icons.0ba7fff5762c9e7d.woff
/frontend/dist/axioma-frontend/webdatarocks-icons.89d1b883b27e9568.ttf
/frontend/dist/axioma-frontend/webdatarocks-icons.d559c5c09688c808.svg
/backend/src/main/resources/static/assets/fonts/FontAwesome.otf
/backend/src/main/resources/static/assets/fonts/fontawesome-webfont.eot
/backend/src/main/resources/static/assets/fonts/fontawesome-webfont.svg
/backend/src/main/resources/static/assets/fonts/fontawesome-webfont.ttf
/backend/src/main/resources/static/assets/fonts/fontawesome-webfont.woff
/backend/src/main/resources/static/assets/fonts/fontawesome-webfont.woff2
/backend/src/main/resources/static/assets/img/dashboard/arr.svg
/backend/src/main/resources/static/assets/img/dashboard/arr-b.svg
/backend/src/main/resources/static/assets/img/dashboard/clock.svg
/backend/src/main/resources/static/assets/img/dashboard/configuration.svg
/backend/src/main/resources/static/assets/img/dashboard/configuration-l.svg
/backend/src/main/resources/static/assets/img/dashboard/d-arr.svg
/backend/src/main/resources/static/assets/img/dashboard/high.svg
/backend/src/main/resources/static/assets/img/dashboard/low.svg
/backend/src/main/resources/static/assets/img/dashboard/plus.svg
/backend/src/main/resources/static/assets/img/dashboard/reply.svg
/backend/src/main/resources/static/assets/img/dashboard/search.svg
/backend/src/main/resources/static/assets/img/dashboard/search-l.svg
/backend/src/main/resources/static/assets/img/dashboard/share-w.svg
/backend/src/main/resources/static/assets/img/dashboard/show-b.svg
/backend/src/main/resources/static/assets/img/dashboard/sort.svg
/backend/src/main/resources/static/assets/img/dashboard/upDown.svg
/backend/src/main/resources/static/assets/img/log/check.svg
/backend/src/main/resources/static/assets/img/log/eye.svg
/backend/src/main/resources/static/assets/img/log/lock.svg
/backend/src/main/resources/static/assets/img/log/logo.svg
/backend/src/main/resources/static/assets/img/log/show.svg
/backend/src/main/resources/static/assets/img/log/user.svg
/backend/src/main/resources/static/assets/img/log/user-arr.svg
/backend/src/main/resources/static/3rdpartylicenses.txt
/backend/src/main/resources/static/971.eddcecab1562e7b1.js
/backend/src/main/resources/static/arr.bf6cef3f12bde5c5.svg
/backend/src/main/resources/static/check.e599d67d11663e02.svg
/backend/src/main/resources/static/clock.fee654419344307a.svg
/backend/src/main/resources/static/configuration.2523ff90b2a10def.svg
/backend/src/main/resources/static/configuration-l.37868b5b0760bd5b.svg
/backend/src/main/resources/static/d-arr.c4d3e72a5b7c95a4.svg
/backend/src/main/resources/static/eye.7a8699530b0c6e26.svg
/backend/src/main/resources/static/favicon.ico
/backend/src/main/resources/static/high.0c258d44db7e57b9.svg
/backend/src/main/resources/static/index.html
/backend/src/main/resources/static/lock.0443791d35a962a8.svg
/backend/src/main/resources/static/low.f3dacaec6da4e1b7.svg
/backend/src/main/resources/static/main.91f07645b4484729.js
/backend/src/main/resources/static/plus.da36c92262180520.svg
/backend/src/main/resources/static/polyfills.7842013335253bae.js
/backend/src/main/resources/static/reply.494299695f7c6450.svg
/backend/src/main/resources/static/runtime.521053cd105f8ac9.js
/backend/src/main/resources/static/scripts.931e766357099ae2.js
/backend/src/main/resources/static/search.ac41bf34760a55ea.svg
/backend/src/main/resources/static/search-l.a0e5374d1081b9fc.svg
/backend/src/main/resources/static/share-w.a1e3c0990ddd5def.svg
/backend/src/main/resources/static/show.12713760901a6857.svg
/backend/src/main/resources/static/show-b.04fd2971036f8a92.svg
/backend/src/main/resources/static/styles.f9f8bfbf79d3e9ef.css
/backend/src/main/resources/static/user.8f5013a212b39f0e.svg
/backend/src/main/resources/static/user-arr.0421bcdbe6ee4c09.svg
/backend/src/main/resources/static/webdatarocks-icons.0ba7fff5762c9e7d.woff
/backend/src/main/resources/static/webdatarocks-icons.89d1b883b27e9568.ttf
/backend/src/main/resources/static/webdatarocks-icons.d559c5c09688c808.svg
/.idea/
