<aside [class.menu-open]="isSideMenuOpened" class="page-dashboard__aside aside" *ngIf="isAuthenticated()">
    <!-- toggle click "aside__btn-open" class "menu-open" open/close menu to > 1200px -->
    <!-- ex - <aside class="page-dashboard__aside aside menu-open"> -->
    <button (click)="toggleSideMenu()" class="aside__btn-open icon-menu">
        <span></span>
    </button>
    <a class="aside__logo" routerLink="/">
        {{currentUser.lastName | titlecase | slice:0:1}}
        {{currentUser.firstName | titlecase | slice:0:1}}
    </a>
    <div class="aside__top">
        <div class="aside__dropdown dropdown">
      <span
              (click)="toggleProfileDropdown()"
              [ngClass]="{ '_active-drop': isOpenedProfileDropdown }"
              class="dropdown__name"
      >
        {{currentUser.lastName}} {{currentUser.firstName}}
          <span
                  [ngStyle]="{
            transform: isOpenedProfileDropdown
              ? 'rotate(0deg)'
              : 'rotate(90deg)'
          }"
                  class="dropdown__icon"
          >
          <svg fill="none">
            <path
                    d="M6.49996 8.20529C6.26698 8.20529 6.03402 8.11633 5.85639 7.93878L0.266684 2.34902C-0.0888946 1.99344 -0.0888946 1.41693 0.266684 1.0615C0.622118 0.706063 1.19851 0.706063 1.55412 1.0615L6.49996 6.00763L11.4458 1.06167C11.8014 0.706236 12.3778 0.706236 12.7332 1.06167C13.0889 1.4171 13.0889 1.99361 12.7332 2.34919L7.14354 7.93896C6.96582 8.11653 6.73286 8.20529 6.49996 8.20529Z"
            />
          </svg>
        </span>
      </span>
            <ul class="dropdown__items">
                <!--        <li>-->
                <!--          <a class="dropdown__item dropdown__item_conf" href="#"-->
                <!--            >Configuration</a-->
                <!--          >-->
                <!--        </li>-->
                <li><a (click)="logout()" class="dropdown__item" href="#">Logout</a></li>
            </ul>
        </div>
        <button class="aside__btn btn-block" routerLink="/tickets-create">
            <span>Create ticket</span>
        </button>
    </div>
    <div class="aside__body">
        <nav class="aside__nav nav-aside">
            <ul class="nav-aside__list">
                <li>
                    <a
                            class="nav-aside__item"
                            routerLink="/tickets"
                            routerLinkActive="_active"
                    >Tickets</a
                    >
                </li>
                <li>
                    <a
                            class="nav-aside__item"
                            routerLink="/reports"
                            routerLinkActive="_active"
                    >Reports</a
                    >
                </li>
                <li>
                    <a
                            class="nav-aside__item"
                            routerLink="/tickets-redactor"
                            routerLinkActive="_active"
                    >redactor ticket</a
                    >
                </li>
            </ul>
        </nav>
        <div class="aside__dropdown dropdown" *ngIf="isAdmin()">
      <span
              (click)="toggleConfDropdown()"
              [ngClass]="{ '_active-drop': isOpenedConfDropdown }"
              class="dropdown__name dropdown__name_conf-icon"
      >
        Configuration
        <span
                [ngStyle]="{
            transform: isOpenedConfDropdown ? 'rotate(0deg)' : 'rotate(90deg)'
          }"
                class="dropdown__icon"
        >
          <svg fill="none">
            <path
                    d="M6.49996 8.20529C6.26698 8.20529 6.03402 8.11633 5.85639 7.93878L0.266684 2.34902C-0.0888946 1.99344 -0.0888946 1.41693 0.266684 1.0615C0.622118 0.706063 1.19851 0.706063 1.55412 1.0615L6.49996 6.00763L11.4458 1.06167C11.8014 0.706236 12.3778 0.706236 12.7332 1.06167C13.0889 1.4171 13.0889 1.99361 12.7332 2.34919L7.14354 7.93896C6.96582 8.11653 6.73286 8.20529 6.49996 8.20529Z"
            />
          </svg>
        </span>
      </span>
            <ul class="dropdown__items">
                <li><a class="dropdown__item" routerLink="/users">Users</a></li>
                <li><a class="dropdown__item" routerLink="/roles">Roles</a></li>
                <li><a class="dropdown__item" routerLink="/companies">Companies</a></li>
                <li><a class="dropdown__item" routerLink="/catalogs">Catalogs</a></li>
                <li><a class="dropdown__item" routerLink="/settings">System Setting</a></li>
            </ul>
        </div>
<!--      Theme switch. Temporary disable because of style -->
        <!--    <div class="aside__switch aside-switch">-->
        <!--      <span class="aside-switch_d">Dark</span>-->
        <!--      <div [formGroup]="themeForm" class="aside-switch__wrapp">-->
        <!--        <input formControlName="theme" type="checkbox" name="" id="switch" />-->
        <!--        <label for="switch">-->
        <!--          <div class="switch">-->
        <!--            <div class="bar"></div>-->
        <!--          </div>-->
        <!--        </label>-->
        <!--      </div>-->
        <!--      <span class="aside-switch_l">Light</span>-->
        <!--    </div>-->
    </div>
    <a class="aside__footer" href="#">
        <img alt="" src="assets/img/log/logo.svg"/>
        <p>
            <small class="text-muted">
                Copyright © 2023 All rights reserved.
            </small>
        </p>
    </a>
</aside>
