<div class="ticket-info__header">
    <div class="ticket-info__top">
        <h4 class="ticket-info__title">
            {{currentTicket.title}}
        </h4>
        <div class="ticket-info__info">
            <div class="ticket-info__status icon-high">
                {{currentTicket.priority.name}}
            </div>
            <span>{{currentTicket.category.name}}</span>
        </div>
    </div>
    <div class="ticket-info__top ticket-body">
        <p [innerHTML]="currentTicket.ticketBody[0].body | safehtml"
           class="ticket-body__text">{{currentTicket.ticketBody[0].body}}</p>
        <div class="ticket-body__bottom">
            <div class="ticket-body__l">
                <span class="ticket-body__name">{{currentTicket.ticketBody[0].createdBy}}</span>
                <div class="ticket-body__date">
                    <span class="ticket-body__hor">{{currentTicket.ticketBody[0].createdAt | date:"HH:mm"}}</span>
                    , {{currentTicket.ticketBody[0].createdAt | date}}
                </div>
            </div>
            <button (click)="openFile(att.id)" *ngFor="let att of currentTicket.ticketBody[0].ticketAttachment"
                    class="ticket-body__show ticket-body__show_blue btn-block">
                <span> {{att.fileName}}</span>
            </button>
        </div>
    </div>
</div>
<div>
    <div *ngFor="let ticketBody of currentTicket.ticketBody.slice(1)"
         [ngClass]="{'message-ticket_modif': isAgentBody(ticketBody)}"
         class="ticket-info__message message-ticket">
        <p [innerHTML]="ticketBody.body | safehtml"
           class="message-ticket__text">
        </p>
        <div class="message-ticket__bottom ticket-body__bottom">
            <div class="ticket-body__l">
                <span class="ticket-body__name">{{ticketBody.createdBy}}</span>
                <div class="ticket-body__date">
                    <span class="ticket-body__hor">{{ticketBody.createdAt | date:'HH:mm'}}</span>
                    , {{ticketBody.createdAt | date:'dd MMM YYYY'}}
                </div>
            </div>
            <div *ngIf="ticketBody.ticketAttachment.length>0" class="ticket-body__r">
                <button (click)="openFile(att.id)" *ngFor="let att of ticketBody.ticketAttachment"
                        class="ticket-body__show ticket-body__show_blue btn-block">
                    <span> {{att.fileName}}</span>
                </button>
                <a class="ticket-body__reply" href="#">
                    <span>Reply</span>
                </a>
            </div>

        </div>
    </div>
</div>

<div class="ticket-info__footer form-ticket">

    <div class="h-25 pb-3 pt-3 border-0 quill-body-create">
        <quill-editor [(ngModel)]="body">
            <div quill-editor-toolbar>
               <span class="ql-formats">
                  <select class="ql-font">
                    <option selected></option>
                    <option value="serif"></option>
                    <option value="monospace"></option>
                  </select>
                  <select class="ql-size">
                    <option value="small"></option>
                    <option selected></option>
                    <option value="large"></option>
                    <option value="huge"></option>
                  </select>
                </span>
                <span class="ql-formats">
                  <button class="ql-bold"></button>
                  <button class="ql-italic"></button>
                  <button class="ql-underline"></button>
                  <button class="ql-strike"></button>
                </span>
                <span class="ql-formats">
                  <select class="ql-color"></select>
                  <select class="ql-background"></select>
                </span>
                <span class="ql-formats">
                  <button class="ql-list" value="ordered"></button>
                  <button class="ql-list" value="bullet"></button>
                  <select class="ql-align">
                    <option selected></option>
                    <option value="center"></option>
                    <option value="right"></option>
                    <option value="justify"></option>
                  </select>
                </span>
                <span class="ql-formats">
                  <button class="ql-link"></button>
                  <button class="ql-image"></button>
                </span>
            </div>
        </quill-editor>
    </div>
    <div class="form-ticket__row">
        <div>
            <input (change)="selectFile($event)"
                   class="form-control rounded-5 m-auto"
                   id="fileInput"
                   multiple
                   name="fileInput"
                   type="file"
            />
        </div>
        <div class="form-ticket__btns">
            <a (click)="createBody()" class="ticket-body__show btn-block"> Send </a>
            <a class="ticket-body__show ticket-body__show_border btn-block" routerLink="tickets/">Cancel</a>
        </div>
    </div>
</div>
