<div class="dashboard-content__body content-body">
    <form [formGroup]="vForm" action="#" class="content-body__rows ticket-info">
        <div class="ticket-info__header">
            <div class="ticket-info__top ticket-create">
                <div class="ticket-create__colum">
                    <div class="ticket-create__line">
                        <span class="ticket-create__lable">*Client:</span>
                        <ng-select class="custom" formControlName="role" required>
                            <ng-option
                                    *ngFor="let role of roleList"
                                    [value]="role"> {{role.name | rolename}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="ticket-create__line">
                        <span class="ticket-create__lable">Assign to:</span>
                        <ng-select [multiple]="true" class="custom" formControlName="employee">
                            <ng-option *ngFor="let empl of employeeList"
                                       [value]=empl.id> {{empl.firstName}} {{empl.lastName}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="ticket-create__line">
                        <span class="ticket-create__lable">*Subject:</span>
                        <input class="form-control rounded-5" formControlName="subject" required type="text">
                    </div>
                </div>
                <div class="ticket-create__colum">
                    <div class="ticket-create__line">
                        <span class="ticket-create__lable">Category:</span>
                        <ng-select class="custom" formControlName="category">
                            <ng-option *ngFor="let category of categoryList"
                                       [value]="category"> {{category.name | titlecase}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="ticket-create__line">
                        <span class="ticket-create__lable">Priority:</span>
                        <ng-select class="custom" formControlName="priority">
                            <ng-option *ngFor="let priority of priorityList"
                                       [value]="priority"> {{priority.name | titlecase}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="ticket-create__line">
                        <span class="ticket-create__lable">Status:</span>
                        <ng-select class="custom" formControlName="status">
                            <ng-option *ngFor="let status of statusList"
                                       [value]="status"> {{status.name | titlecase}}</ng-option>
                        </ng-select>
                    </div>

                </div>
            </div>

        </div>

        <div class="ticket-info__footer form-ticket form-ticket_redactor">
            <div class="form-ticket__elements">
                <div class="row h-100 pb-3 pt-3">
                    <quill-editor formControlName="body"></quill-editor>
                </div>
                <div class="form-ticket__row">

                    <div class="">
                        <input (change)="selectFile($event)"
                               class="form-control rounded-5 m-auto"
                               formControlName="file"
                               id="fileInput"
                               multiple
                               name="fileInput"
                               type="file"
                        />
                    </div>

                    <div class="form-ticket__btns">
                        <a (click)="createTicket()" class="ticket-body__show btn-block"> Send </a>
                        <a class="ticket-body__show ticket-body__show_border btn-block" routerLink="/">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<axioma-footer></axioma-footer>