<div [class.content-body_columns]="isTicketOpened" class="dashboard-content__body content-body content-body_columns">

    <!--			Список тикетов			-->

    <div class="content-body__rows">
        <!--							<a *ngFor="let ticket of ticketList" routerLink="/tickets/{{ticket.ticketId}}"-->
        <a (click)="openTicket(ticket.ticketId)" *ngFor="let ticket of ticketList"
           [ngClass]="{'_red': ticket.status.name==='overdue',
							   '_active': isTicketOpened&&ticket.ticketId===currentTicketId}"
           class="content-body__row content-row">
								<span [ngClass]="{'content-row__icon_blue': ticket.status.name === 'open',
								'content-row__icon_green': ticket.status.name==='new',
								'content-row__icon_red': ticket.status.name==='overdue',
								'content-row__icon_with': ticket.status.name ==='closed'}"
                                      class="content-row__icon content-row__icon_blue"></span>
            <div class="content-row__column">
                <div class="content-row__title">
                    {{ticket.title}}
                </div>
                <span [ngClass]="{'icon-high': ticket.priority.name==='high'}"
                      class="content-row__lable icon-high"> </span>
            </div>
            <div class="content-row__column">
                <span class="content-row__username">{{ticket.author}}</span>
            </div>
            <div class="content-row__column">
                <span class="content-row__date">Created: {{ticket.createdAt | date}}</span>
                <span class="content-row__username">Edited: {{ticket.changedAt | date}}</span>
            </div>
        </a>
        <div class="pagination_cont" *ngIf="!isTicketOpened">
            <div class="page-size">
            <ng-select placeholder="10" [clearable]="false" [(ngModel)]="pageSize" [items]="pageSizes" (change)="changePageSize($event)">
<!--                <ng-option class="page-size-items">10</ng-option>-->
<!--                <ng-option class="page-size-items">20</ng-option>-->
<!--                <ng-option class="page-size-items">50</ng-option>-->
            </ng-select>
                &nbsp; per page
            </div>
            <ngb-pagination
                    [collectionSize]=totalTickets
                    (pageChange)="changePageNum($event)"
                    [(page)]="pagNum"
                    [pageSize]=pageSize>
            </ngb-pagination>
        </div>
    </div>

    <!--			  Открытый тикет-->
    <div *ngIf="isTicketOpened" class="content-body__rows ticket-info">
        <app-view-ticket [currentTicketId]="currentTicketId"></app-view-ticket>
    </div>

</div>
