<div class="dashboard-content__body content-body">
    <div class="content-body__rows">
        <a class="content-body__row content-row content-row_reaports" routerLink="/catalogs/status">
            <div class="content-row__title">
                Statuses
            </div>
        </a>
        <a class="content-body__row content-row content-row_reaports" routerLink="/catalogs/priority">
            <div class="content-row__title">
                Priorities
            </div>
        </a>
        <a class="content-body__row content-row content-row_reaports" routerLink="/catalogs/category">
            <div class="content-row__title">
                Categories
            </div>
        </a>
    </div>
</div>
