.ql-container {
  min-height: 10rem;
  height: 100%;
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  padding: 0;
}

.ql-editor {
  //height: 100%;
  max-width: fit-content;
}

.angular-editor-wrapper {
  max-width: 90%;
}

.angular-editor-wrapper img {
  max-width: 90%;
}
